.wrapper {
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.footer {
    width: 100%;
    background: #e6a52e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 70px 3%;
}

.footer::before {
    content: "";
    position: absolute;
    background: url("./../../assets/leaf.svg") 0 0 no-repeat;
    background-size: 100%;
    width: 100px;
    height: 100px;
    transform: translateY(-220px);
}

.block {
    text-align: center;
}

.logo {
    display: inline-block;
    background: #fff;
    padding: 30px;
    border-radius: 20px;
}

.link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #09dbd2;
    font-size: 30px;
}

.img {
    width: 80px;
    margin-right: 5px;
}

.social {
    background: #fff;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-radius: 50px;
    margin-top: 25px;
}

.item {
    padding: 0 30px;
    border-right: 2px solid #000;
}

.item:last-child {
    border-right: none;
}

.label {
    display: inline-block;
}

.icon {
    width: 30px;
}

@media screen and (max-width: 430px) {  
    .social {
        flex-wrap: wrap;
        border-radius: 20px;
    }
    .item {
        width: 35%;
        padding: 0;
        margin-bottom: 20px;
        border: none;
    }
    .item:nth-child(3) {
        margin: 0;
    }
    .item:nth-child(4) {
        margin: 0;
    }
}